<!-- Barra de navegação -->
<nav class="navbar navbar-expand-lg navbar-light bg-success rounded-1">
    <div class="container">
        <h1 class="fs-3">Blog<span class="text-white">Nelson</span></h1>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Página Inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre Nós</a>
                </li>
                {{#if session}}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sair</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login"><button class="btn btn-primary">Login</button></a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

<!-- Conteúdo principal -->
<div class="bg-gray border">
    <div class="container mt-4 border">
        <div class="row">
            <div class="col-8 d-flex align-items-center justify-content-center rounded-1 flex-column"
                style="background-image: radial-gradient(circle at 82.92% 38.02%, #c9feff 0, #acf1fc 12.5%, #8ae3f7 25%, #60d3f2 37.5%, #0cc1ed 50%, #00afe9 62.5%, #009ee6 75%, #008ee3 87.5%, #0080e0 100%); min-height: 60vh;">
                <div class="text-center">
                    <h1 class="text-xl">Bem-vindo ao Blog<span class="text-primary">Nelson</span></h1>

                    <p class="text-lg">Compartilhe o que mais gosta, você vai adorar nossa comunidade!</p>
                </div>

                    <div class="d-flex justify-content-center card mt-4">

                        <a href=""><button class="btn btn-success btn-lg">Página de Postagens</button></a>

                    </div>

            </div>


            <div class="col-md-4 d-flex justify-content-center flex-column">
                <h3 class="text-center">Posts Recentes</h3>
                <div style="max-height: 40vh; overflow-y:auto">

                    <ul class="list-group">
                        {{#each result}}
                        <a href="#"
                            class="list-group-item list-group-item-action flex-column align-items-start active mb-2"
                            style="max-height: 100px;">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{dataValues.titulo}}</h5>
                                <small>3 dias atrás</small>
                            </div>
                            <p class="mb-1">{{dataValues.conteudo}}</p>
                            <small>Usuário: {{lookup ../userMap this.dataValues.userId}}<!-- Estudar--></small>
                        </a>

                        {{/each}}
                    </ul>
                </div>
                <a href="/postagem/add" class="text-white btn btn-info mt-3">Criar Postagem</a>
            </div>
        </div>
    </div>
</div>


<!-- Cabeçalho com Imagem de Fundo -->
<div class="jumbotron text-center bg-info mt-4">
    <h1>BlogNelsonJs</h1>
    <p>API de login com nodejs</p>
    <div class="card">
        {{#if session}}

        {{else}}
        <div class="card-body">
            <a class="btn btn-primary btn-md" href="/login" role="button">Página de login</a>
            <a class="btn btn-success btn-md" href="/registro" role="button">Página de registro</a>
        </div>
        {{/if}}
    </div>
    <div class="card">
        <div class="card-body">
            <h4>Temos um total de {{count1}} contas registradas</h4>
        </div>

    </div>
</div>



<!-- Rodapé -->
<footer class="bg-dark text-light text-center py-3">
    <div class="container">
        &copy; 2023 Meu Blog
    </div>
</footer>